<h1>New New Post</h1>

<%=  form_for @news_posts do|f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title%><br>
    <%= f.label :body%><br>
    <%= f.text_field :body%><br>
    <%= f.submit %>
<%end%>

<%= render "form" %>
<!--
<form action="/news/create" method="post">
  <label>Title:</label><input type="text" name="title"/> <br>
  <label>Body:</label><input type="text" name="body"/><br>
  <input type="submit" value="create!">
</form>-->
